.animation-frame {
  position: absolute;
  animation: spinner 20s linear infinite;
  width: 100px;
}

@keyframes spinner {
  0% {
    opacity: 0.3;
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
    transform: rotate(360deg);
  }
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}