.animation-frame {
  animation: spinner 10s linear infinite;
  z-index: -1;
}
.portal {
  animation: portal 8s linear infinite;
}

@keyframes spinner {
  0% {
    opacity: 0.8;
    scale: 0.9;
  }
  25% {
    opacity: 0.9;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 0.9;
  }
  75% {
    opacity: 0.9;
    scale: 1;
  }
  100% {
    opacity: 0.8;
    scale: 0.9;
  }
}

@keyframes portal {
  0% {
    scale: 0.7;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  25% {
    scale: 0.9;
    opacity: 0.8;
  }
  50% {
    scale: 0.8;
    opacity: 1;
  }
  75% {
    scale: 0.9;
    opacity: 0.8;
  }
  100% {
    scale: 0.7;
    opacity: 0.6;
    transform: rotate(360deg);
  }
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}